/* Error: Expected expression.
 *   ,
 * 2 |   background-color: ;
 *   |                     ^
 *   '
 *   scss/pages/_home.scss 2:21  @import
 *   scss/main.scss 1:197        root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Expected expression.\a   \2577 \a 2 \2502    background-color: ;\a   \2502                      ^\a   \2575 \a   scss/pages/_home.scss 2:21  @import\a   scss/main.scss 1:197        root stylesheet";
}
